.modal {
	overflow-y: scroll !important;
}
.modal .table tr th {
	background: none;
}
.mask {
	width: 200vw;
	height: 200vh;
	left: -100vw;
	top: -100vh;
	position: fixed;
	background: gray;
	opacity: 0.7;
	transition: opacity 0.5s ease-out;
}

.dropdown-menu-form {
	padding-left: 30px;
}

#select-chicken .form-control-feedback {
	top: 6px !important;
}

#select-chicken .table tr th {
	padding: 8px !important;
	text-align: left;
}

#select-chicken .table tr td {
	padding: 8px !important;
	text-align: left;
}

/* .in {
	transition: height 1s !important;
}
.out {
	height: 0;
	transition: height 1s !important;
} */

.table-box .show {
	display: table-row !important;
}

/* .modal.in .modal-dialog {
	transform: translate(0,0) !important;
} */

.modal.in {
	display: block;
	transition: transform 3s ease-out;
}

.modal {
	opacity: 0;
	transition: transform 3s ease-out;
}

.closing {
	transform: translate(0,-15%) !important;
	display: block !important;
	/* opacity: 0.4 !important; */
	transition: opacity 0.35s;
}

#filter-popup2 .modal-content {
	padding: 0px;
}

#filter-popup2 .modal-dialog .modal-header h3 {
	font-size: 24px;
    font-family: 'Montserrat-Regular';
	text-align: left;
	color: #DD5859;
}

#filter-popup2 button {
	margin-left: 2px;
	margin-right: 2px;
}

#filter-popup2 ul li {
	display: list-item;
}

.footer-btn button {
	margin-left: 2px;
	margin-right: 2px;
}

.racing-pending ul {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
}

.collapsing-out{
	position: relative;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height,visibility,display;
}

.collapsing-in {
	position: relative;
	/* transition: height 0.3s ease-in-out 0s, padding-top 0.3 ease-in-out 0s, padding-bottom 0.3 ease-in-out 0s !important; */
	overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height,visibility,display;
	height: 194px;
	display: block !important;
}

.navbar .container>div {
	overflow: visible !important;
}

@media (max-width: 768px) {
	.navbar .container>div {
		overflow: hidden !important;
	}
	.table-box .table-buttons {
		overflow-x: scroll;
	}
	#view-chicken {
		top: unset;
	}
}
